/* Play/pause button  */
.main-player__play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 88, 201);
  border: solid rgb(47, 46, 46) 3.5px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 20px auto;
  transition: background-color 0.2s ease;
}

/* Play/pause hover */
.main-player__play-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 123, 255);
}

/* svg inside of play button */
.main-player__play-btn img {
  max-width: 90px;
  user-select: none;
}

/* Master volume container */
.master-volume-container {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  z-index: 1000;
}

/* Master volume slider */
.master-volume-container input[type="range"] {
  width: 200px;
}
.master-volume-container input:hover {
  cursor: pointer;
}

/*  Master volume mute button */
.master-volume-container button {
  background-color: rgb(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 5px 10px;
  min-width: 100px;
  transition: background-color 0.1s;
}
.master-volume-container button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
}

/* Media queries */
@media (max-width: 650px) {
    .master-volume-container {
      top: 3.5rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(0, 0, 0, 0.5);
      padding: 0.5rem;
      border-radius: 12px;
    }
}